footer{
    background-color: black;
    height: 100px;
    }
 menu{
    background-color: black;
 }    
 
.precio{
    color: #cc0000;
}

.bg-body-tertiary {
    background-color: #000000 !important;
}
.nav-link{
    color: white;

}
.menu a{
    color:white
}